@font-face {
  font-family: din-round;
  src: url(../font/feather_bold.ttf);
}

:root {
  --green-color: rgb(88, 204, 2);
  --green-shadow: rgb(88, 167, 0);
  --red-color: rgb(255, 75, 75);
  --red-shadow: rgb(234, 43, 43);
  --yellow-color: rgb(255, 200, 0);
  --yellow-shadow: rgb(231, 166, 1);
  --blue-color: rgb(28, 176, 246);
  --blue-shadow: rgb(24, 153, 214);
  --orange-color: rgb(255, 150, 0);
  --purple-color: rgb(204, 52, 141);
}

body {
  width: 300px;
  margin: 0;
  font-family: din-round, sans-serif;
}

.toggle-switchy {
  width: 100%;
  justify-content: space-between;
}

input[type="text"] {
  width: 60px;
  border: 0;
  border-bottom: 2px solid rgb(229, 229, 229);
  outline: none;
  margin: 0 8px;
  text-align: center;
  background-color: #eee;
  caret-color: rgb(28, 176, 246);
}

input[type="text"]:focus {
  border-bottom-color: rgb(28, 176, 246);
}

button {
  width: 50%;
  height: 36px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 16px;
  text-transform: uppercase;
}

button:active {
  box-shadow: none;
  transform: translateY(4px);
}
/* GREEN */
.green-bg {
  background-color: var(--green-color);
}
.green-shadow {
  box-shadow: var(--green-shadow) 0px 4px 0px 0px;
}
.green-border {
  border: 2px solid var(--green-color);
}
.green-text {
  color: var(--green-color);
}
/* RED */
.red-bg {
  background-color: var(--red-color);
}
.red-shadow {
  box-shadow: var(--red-shadow) 0px 4px 0px 0px;
}
.red-border {
  border: 2px solid var(--red-color);
}
.red-text {
  color: var(--red-color);
}
/* YELLOW */
.yellow-bg {
  background-color: var(--yellow-color);
}
.yellow-shadow {
  box-shadow: var(--yellow-shadow) 0px 4px 0px 0px;
}
.yellow-border {
  border: 2px solid var(--yellow-color);
}
.yellow-text {
  color: var(--yellow-color);
}
/* BLUE */
.blue-bg {
  background-color: var(--blue-color);
}
.blue-shadow {
  box-shadow: var(--blue-shadow) 0px 4px 0px 0px;
}
.blue-border {
  border: 2px solid var(--blue-color);
}
.blue-text {
  color: var(--blue-color);
}
/* ORANGE */
.orange-bg {
  background-color: var(--orange-color);
}
/* .orange-shadow {
  box-shadow: var(--orange-shadow) 0px 4px 0px 0px;
} */
.orange-border {
  border: 2px solid var(--orange-color);
}
.orange-text {
  color: var(--orange-color);
}
/* PURPLE */
.purple-bg {
  background-color: var(--purple-color);
}
/* .purple-shadow {
  box-shadow: var(--purple-shadow) 0px 4px 0px 0px;
} */
.purple-border {
  border: 2px solid var(--purple-color);
}
.purple-text {
  color: var(--purple-color);
}

.wrap {
  width: 136px;
  border-radius: 16px;
  overflow: hidden;
}

.title {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  padding: 4px 0;
  text-transform: uppercase;
}

.content {
  font-size: 16px;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  transition: border-color 0.2s;
}

.content img {
  width: 36px;
}
